.card{
    margin-left: 54%;
    margin-right: 2%;
    margin-top: 2%;
}
.color{
    background-color: #673ab7;
    color: #fff;
    margin-left: 1%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}