<div mat-dialog-content class="controlers-wrapper">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.name" placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.sku" placeholder="SKU">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.description" placeholder="Description">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" [(ngModel)]="data.price" placeholder="Price">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.stock_level" placeholder="Stocl Level">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="updateProduct()">Update</button>
</div>